/* CSS colors
 * background: #f0f0f0
 * navigation color: #7fc22f
 * stub color for imgs: #eaadea
 * link color: #598721
 * color for picture rating text: #737373
 * color for content-table #e6febf
 * sort options for content: #fed980
 *
 * */

body {
  background-color: #f0f0f0;
  color: #222222;
  font-size:10pt;
}

#center-box {
  background-color:#ffffff;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-0.7em;
  overflow:hidden;
}

div#sitename {
  height:100px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}

div#sitename a:link, div#sitename a:visited {
  font-size:50pt;
  color:#000000;
  text-decoration:none;
  font-family:"Georgia", serif;
  text-shadow: 1px 1px 1px #222222;
}

  div#sitename a:hover {
    cursor:pointer;
  }

div #userbar {
  width:100%;
  height:35px;
  background-color:#7fc22f;
  margin-bottom:3em;
}

  div#userbar ul {
    position:relative;
    float:right;
    right:3em;
    bottom:0.5em;
  }
  div#userbar li {
    display:inline;
    margin-left:3em;
  }

  div#userbar span {
    float:left;
    top:20px;
  }

  div#navi span {
    float:right;
    bottom:40px;
  }

  div#userbar span, div#navi span {
    font-family: "Georgia", serif;
    background-color:#7fc22f;
    padding:20px;
    position:relative;
    font-size:190%;
  }

div#navi {
  width:100%;
  background-color:#7fc22f;
  height:35px;
}

  div#navi div {
    position:relative;
    top:0.3em;
    margin-left:auto;
    margin-right:auto;
    width:650px;
  }

  div#navi a:link, div#userbar a:link,
  div#navi a:visited, div#userbar a:visited {
    font-size:140%;
    text-decoration:none;
    color:#000000;
    font-family: "Cambria","Palatino Linotype","Palatino","Baskerville","Book Antiqua","Nimbus Roman No9 L","FreeSerif","Georgia","Times New Roman",serif;
  }

  div#navi a:hover, div#userbar a:hover {
    position:relative;
    text-shadow: 1px 1px 1px #222222;
  }

  div#navi ul {
    width:500px;
    display:inline;
    position:relative;
  }

  div#navi li {
    display:inline;
    padding:15px;
  }

div#main-content {
  margin-top:1em;
  font-family: "Cambria","Palatino Linotype","Palatino","Baskerville","Book Antiqua","Nimbus Roman No9 L","FreeSerif","Georgia","Times New Roman",serif;
  margin-bottom:3em;
  overflow:hidden;
}
  div#food-data {
    position:relative;
    float:left;
    width:400px;
  }

      div#food-data div.food-data-box {
        margin-bottom:3em;
      }

      div.food-data-box h1 {
        font-weight:normal;
        display:inline;
        margin-top:3em;
      }

      div.big-menuitem-image {
        width:350px;
        height:250px;
        margin-left:auto;
        margin-right:auto;
      }

      div.review-info {
        font-size:170%;
        padding:10px;
      }

      div.review-info a:link, div.review-info a:visited {
        text-decoration:none;
        font-size:110%;
        color:#598721;
      }

      div.review-info a:hover {
        text-decoration:underline;
      }

      div.review-info span.picture-rating,
      div.review-info span.review-date,
      div.review-info span.stars {
        font-size:70%;
        color:#737373;
      }

      div.review-info p.desc {
        margin-left:1em;
        color:#222222;
        font-size:100%;
      }

      div.review-info table.picture-comments th {
        font-size:71%;
      }

  div#content {
    position:relative;
    float:right;
    width:600px;
  }

  div#content h2 {
    font-weight:normal;
    margin-top:-0.7em;
    margin-left:2em;
  }

  div#content table#info td {
    margin-bottom:3em;
    background-color:#e6febf;
    padding:5px;
  }

  div#content table#content-table td:first-child {
    font-weight:bold;
    width:10em;
  }

  div#content table#content-table a:link, a:visited {
    font-size:100%; /* make links not so big in table */
  }

  div#content a:link, div#content a:visited {
    text-decoration:none;
    font-weight:normal;
    font-size:110%;
    color:#598721;
  }

  div#content a:hover {
    text-decoration:underline;
  }

    div#reviews {
      margin-top:3em;
    }

    div#reviews h1 {
      font-weight:normal;
      font-size:140%;
    }

    div#reviews div.reviews-list {
      width:100%;
      overflow:hidden;
    }

      div.review-item {
        position:relative;
        float:left;
        width:150;
        height:150;
        margin:5px;
      }

      div.small-menuitem-image {
        height:110px;
        width:130px;
        text-align:center;
      }

  div#content div#visual-menu {
    overflow:hidden;
    width:100%;
    margin-top:3em;
  }

    div#visual-menu h1 {
      font-weight:normal;
      font-size:140%;
    }

    ul#sort-options li {
      display:inline;
      padding:7px;
      background-color:#fed980;
    }

      div#visual-menu ul#sort-options li:hover {
        cursor:pointer;
        position:relative;
        top:1px;
        left:1px;
      }

  div#content div#content-footer {
    margin-top:3em;
    width:100%;
  }

  div#content div#content-footer a:link, a:visited {
    font-size:97%;
  }

    div#content div#content-footer span.note {
      font-size:95%;
      font-color:#6a6a6a;
    }
  

/* stub style for buttons -- replace with an image later */
div.button {
  width:120px;
  height:70px;
  background-color:#ffbbff;
  font-family:sans-serif;
  text-align:center;
  border-bottom:2px solid black;
  border-right:1px solid black;
}

  div#content div.button {
    position:relative;
    float:right;
    right:50px;
  }

  div#content div.button:hover {
    cursor:pointer;
    top:1px;
  }

div#map {
  width:98%;
  height:600px;
}














/*** rails default styles ***/

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
