<span class="note">
<!-- todo: make a page which will allow users to report categorization errors -->
Is this
<% if is_restaurant %>
  restaurant
<% else %>
  menu item  
<% end %>
  misnamed, misplaced, or offensive? <a href="">Let us know!</a>
</span>
